INTRODUCTION
SQLite is a lightweight, serverless, and self-contained SQL database engine. It is designed to be embedded within applications, eliminating the need for separate database server processes and complex configurations. SQLite is widely used due to its simplicity, ease of setup, and zero-configuration nature. It is ACID-compliant and implements most of the SQL standards, making it a reliable choice for various applications.

In [1]:
import sqlite3

# Connect to database
conn = sqlite3.connect('example1.db')
cursor = conn.cursor()

# Create table
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    salary REAL,
    is_active BOOLEAN,
    bio TEXT,
    join_date DATETIME,
    profile_picture BLOB,
    misc_date NUMERIC,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)
""")

# Insert data
cursor.execute("""
INSERT INTO users
(name, age, salary, is_active, bio, join_date, profile_picture, misc_date)
VALUES (?, ?, ?, ?, ?, ?, ?, ?)
""", (
    "Alice",
    30,
    50000,
    1,
    "Software Engineer",
    "2005-01-12",
    None,
    678.99
))

conn.commit()  # Save the inserted data

# Select all users
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()
print("All users:")
for row in rows:
    print(row)

# Update Alice's salary
cursor.execute("UPDATE users SET salary = ? WHERE name = ?", (55000, "Alice"))
conn.commit()  # Save the update

# Select Alice after update
print("\nAfter updating Alice's salary:")
cursor.execute("SELECT * FROM users WHERE name = ?", ("Alice",))
print(cursor.fetchone())

# Close connection
conn.close()

All users:
(1, 'Alice', 30, 50000.0, 1, 'Software Engineer', '2005-01-12', None, 678.99, '2026-01-28 15:44:00')

After updating Alice's salary:
(1, 'Alice', 30, 55000.0, 1, 'Software Engineer', '2005-01-12', None, 678.99, '2026-01-28 15:44:00')