In [1]:
%pip install sqlite3

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [2]:
import sqlite3

conn =sqlite3.connect ('1example.db')
cursor =conn.cursor()


cursor.execute("""
Create table if not exists users(
    id integer primary key,
    name text  not null,
    age integer,
    salary real,
    is_active boolean,
    bio text,
    join_date datetime,
    profile_picture blob,
    misc_date numeric,
    created_at timestamp default  current_timestamp
    
)""")


cursor.execute("""
Insert into users(name,age,salary,is_active,bio,join_date,profile_picture,misc_date)
values(?,?,?,?,?,?,?,?)
""",(
    "Alice",30,55000,1,"software engineer","2005-01-12",None,678.99
)
)

In [4]:
import sqlite3

# Connect to database (creates file if not exists)
conn = sqlite3.connect('example1.db')
cursor = conn.cursor()

# Create table
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    salary REAL,
    is_active BOOLEAN,
    bio TEXT,
    join_date DATETIME,
    profile_picture BLOB,
    misc_date NUMERIC,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)
""")

# Insert data
cursor.execute("""
INSERT INTO users
(name, age, salary, is_active, bio, join_date, profile_picture, misc_date)
VALUES (?, ?, ?, ?, ?, ?, ?, ?)
""", (
    "Alice",
    30,
    55000,
    1,
    "Software Engineer",
    "2005-01-12",
    None,
    678.99
))

conn.commit()

# Fetch all users
print("Before Update:")
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

for row in rows:
    print(row)

# Update salary
cursor.execute(
    'UPDATE users SET salary = ? WHERE name = ?',
    (60000, 'Alice')
)

conn.commit()

# Fetch updated record
print("\nAfter updating Alice salary:")
cursor.execute('SELECT * FROM users WHERE name = "Alice"')
print(cursor.fetchone())

# Close connection
conn.close()

OperationalError: database is locked

In [3]:
cursor.execute('UPDATE users SET SALARY =? WHERE Name=?',(55000,'ALice'))
print('\nAfter updating Alice salary:')
cursor.execute('SELECT *from user where  name ="Alice"')
print(cursor.fetchone())

After updating Alice salary:

OperationalError: no such table: user